<div class="container">
  <div *ngIf="isFetched && !getPurchasesCount()">No data.</div>
  <div *ngIf="isFetching">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="actions">
    <input
      class="search"
      type="text"
      pInputText
      placeholder="Search"
      (input)="searchHandler($event)"
    />
    <button
      pButton
      pRipple
      (click)="downloadExcel()"
      label="DOWNLOAD EXCEL"
      class="p-button-success"
    ></button>
  </div>
  <div class="content">
    <p-table [value]="modifiedTableData">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let column of columns">
            {{ column.viewValue }}
            <input
              type="text"
              pInputText
              placeholder="Search"
              (input)="filterHandler($event, column.keyValue)"
            />

            <p-button
              (click)="sortHandler(column.keyValue)"
              label="SORT"
            ></p-button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.mnn_id }}</td>
          <td>{{ item.subtype }}</td>
          <td>{{ item.num }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.release_form }}</td>
          <td>{{ item.dosage }}</td>
          <td>{{ item.unit }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator
      [rows]="pagination.itemsPerPage"
      [totalRecords]="totalItems"
      [pageLinkSize]="5"
      [rowsPerPageOptions]="paginationOptions"
      (onPageChange)="pageChangeHandler($event)"
    ></p-paginator>

    <div *ngIf="isFetched && !modifiedTableData.length">No filter data.</div>
  </div>
</div>
