.container {
  max-width: 1500px;
  width: 80%;
  margin: 2rem auto 0 auto;
}

.actions {
  display: flex;
  gap: 24px;
  margin-bottom: 1rem;
}

th div .p-inputtext {
  margin: 1rem 0;
  display: inline-block;
  max-width: 200px;
}

.form {
  margin: 2rem 0;

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  button {
    display: block;
    width: auto;
  }
}

.field {
  margin: 12px 0;
}

.toggle-visibility {
  margin: 2rem 0 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  min-width: 400px;
  align-items: center;
  text-align: center;
}

.toggle-visibility-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.toggle-visibility-item span {
  margin-right: 5px;
  font-weight: bold;
}

@media (max-width: 960px) {
  tr {
    display: inline-block;
    border: 1px solid black !important;
    border-radius: 8px;
    width: 100%;
    margin: 4px 0;
  }
}
