.container {
  max-width: 1500px;
  width: 80%;
  margin: 2rem auto 0 auto;
}

.actions {
  display: flex;
  gap: 24px;
  margin-bottom: 1rem;
}

th .p-inputtext {
  margin: 1rem 0;
  display: inline-block;
  width: 120px;
}

.form {
  margin: 1rem 0;

  form {
    display: flex;
    gap: 12px;
  }
}
