<div class="container">
  <div *ngIf="isFetched && !getPurchasesCount()">No data.</div>
  <div *ngIf="isFetching">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="form" (submit)="onSubmit()">
    <form *ngIf="form" [formGroup]="form">
      <div class="field">
        <input
          type="text"
          placeholder="Name"
          formControlName="name"
          pInputText
        />
      </div>
      <div class="field">
        <input
          type="text"
          placeholder="Last Name"
          formControlName="lastName"
          pInputText
        />
      </div>
      <div class="field">
        <input
          type="number"
          placeholder="age"
          formControlName="age"
          pInputText
        />
      </div>
      <button
        [disabled]="form.invalid"
        pButton
        pRipple
        type="submit"
        label="Submit"
        class="p-button-help"
      ></button>
    </form>
  </div>
  <div class="actions">
    <input
      class="search"
      type="text"
      pInputText
      placeholder="Search"
      (input)="searchHandler($event)"
    />
    <button
      pButton
      pRipple
      (click)="downloadExcel()"
      label="DOWNLOAD EXCEL"
      class="p-button-success"
    ></button>
  </div>
  <div class="toggle-visibility">
    <div class="toggle-visibility-item" *ngFor="let col of tableColumnsUtils">
      <span>{{ col.viewValue }}</span>
      <p-button
        (click)="toggleColumnVisibility(col.keyValue)"
        [label]="col.isDisplayed ? 'HIDE' : 'SHOW'"
      ></p-button>
    </div>
  </div>
  <div class="content">
    <p-table
      *ngIf="hasDisplayedColumn()"
      responsiveLayout="stack"
      scrollHeight="flex"
      [value]="modifiedTableData"
    >
      <ng-template pTemplate="header">
        <ng-container>
          <tr>
            <th *ngFor="let column of tableColumnsUtils" pResizableColumn>
              <div class="header-cell" *ngIf="column.isDisplayed">
                <div class="header-content">
                  {{ column.viewValue }}
                  <input
                    type="text"
                    pInputText
                    placeholder="Search"
                    (input)="filterHandler($event, column.keyValue)"
                  />
                  <p-button
                    (click)="sortHandler(column.keyValue)"
                    label="SORT"
                  ></p-button>
                </div>
              </div>
              <div *ngIf="!column.isDisplayed"></div>
            </th>
          </tr>
        </ng-container>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowData="rowData"
        let-item
        sortMode="multiple"
        pTemplate="body"
      >
        <tr>
          <ng-container *ngFor="let column of tableColumnsUtils">
            <td>
              <span *ngIf="isColumnDisplayed(column.keyValue)">{{
                item[column.keyValue]
              }}</span>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="pagination.itemsPerPage"
      [totalRecords]="totalItems"
      [pageLinkSize]="5"
      [rowsPerPageOptions]="paginationOptions"
      (onPageChange)="pageChangeHandler($event)"
    ></p-paginator>

    <div *ngIf="isFetched && !modifiedTableData.length">No filter data.</div>
  </div>
</div>
