.container {
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto 0 auto;
}
.custom-table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #e9e9e9;
}

.custom-input {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 2rem;
}

.custom-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
  display: inline-block;
  margin-top: 0.2rem;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.button:hover {
  background-color: #000;
  color: #fff;
}
